@model IEnumerable<News.Models.Db.Menu>

@{
    var parent = ViewBag.parent as News.Models.Db.Menu;

    ViewData["Title"] = "Menus";
    ViewData["SubTitle"] = (parent != null ? parent.Title : "");
}

<p>
    @if (parent != null)
    {
        <a href="/admin/menus/create?parentId=@parent.Id" class="btn btn-outline-success">
            Add new sub menu
        </a>
    }
    else
    {
        <a href="/admin/menus/create" class="btn btn-outline-success">
            Add new menu
        </a>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Priority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(x => x.Priority))
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Link</td>
                <td>@item.Position</td>
                <td>@item.Priority</td>
                <td>
                    <div class="form-button-action">
                        <a asp-action="Edit"
                           asp-route-id="@item.Id" data-bs-toggle="tooltip" title="Edit" class="btn btn-link btn-primary">
                            <i class="fa fa-edit"></i>
                        </a>

                        @if (parent == null)
                        {
                            <a href="/admin/menus/index/@item.Id" data-bs-toggle="tooltip" title="Sub menus" class="btn btn-link btn-info">
                                <i class="fa fa-list"></i>
                            </a>
                        }

                        <a asp-action="Delete" asp-route-id="@item.Id" data-bs-toggle="tooltip" title="Remove" class="btn btn-link btn-danger">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
