@model Tuple<List<News.Models.Db.Menu>,List<News.Models.Db.News>,News.Models.Db.Setting>


<div class="container-fluid sticky-top px-0">
    <div class="container-fluid topbar bg-dark d-none d-lg-block">
        <div class="container px-0">
            <div class="topbar-top d-flex justify-content-between flex-lg-wrap">
                <div class="top-info flex-grow-0">
                    <span class="rounded-circle btn-sm-square bg-primary me-2">
                        <i class="fas fa-bolt text-white"></i>
                    </span>
                    <div class="pe-2 me-3 border-end border-white d-flex align-items-center">
                        <p class="mb-0 text-white fs-6 fw-normal">
                            Lates news
                        </p>
                    </div>

                    <marquee direction="right" loop style="width: 735px;">

                        @foreach (var item in Model.Item2)
                        {
                            <span class="ps-2">
                                <a href="/news/@item.Id">
                                    <span class="text-white mb-0 link-hover">
                                        @item.Title |
                                    </span>
                                </a>
                            </span>
                        }

                    </marquee>

                </div>
                <div class="top-link flex-lg-wrap">
                    <i class="fas fa-calendar-alt text-white border-end border-secondary pe-2 me-2">
                        <span class="text-body">
                            @DateTime.Now.ToString("MMM d, yyyy")
                        </span>
                    </i>
                    <div class="d-flex icon">
                        <p class="mb-0 text-white me-2">Follow Us:</p>
                        <a href="@Model.Item3.Facebook" class="me-2"><i class="fab fa-facebook-f text-body link-hover"></i></a>
                        <a href="@Model.Item3.Twitter" class="me-2"><i class="fab fa-twitter text-body link-hover"></i></a>
                        <a href="@Model.Item3.Instagram" class="me-2"><i class="fab fa-instagram text-body link-hover"></i></a>
                        <a href="@Model.Item3.Youtube" class="me-2"><i class="fab fa-youtube text-body link-hover"></i></a>
                        <a href="@Model.Item3.Linkedin" class="me-2"><i class="fab fa-linkedin-in text-body link-hover"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-light">
        <div class="container px-0">
            <nav class="navbar navbar-light navbar-expand-xl">
                <a href="/" class="navbar-brand mt-3">
                    <p class="text-primary display-6 mb-2" style="line-height: 0;">
                        @Model.Item3.Title
                    </p>
                    <small class="text-body fw-normal" style="letter-spacing: 12px;">Nespaper</small>
                </a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-primary"></span>
                </button>
                <div class="collapse navbar-collapse bg-light py-3" id="navbarCollapse">
                    <div class="navbar-nav mx-auto border-top">
                        @{
                            var parents = Model.Item1.Where(x => x.ParentId == null).OrderBy(x => x.Priority).ToList();
                        }

                        @foreach (var item in parents)
                        {
                            if (Model.Item1.Any(x => x.ParentId == item.Id))
                            {
                                <div class="nav-item dropdown">
                                    <a href="@item.Link" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                        @item.Title
                                    </a>
                                    <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                        @{
                                            var childs = Model.Item1.Where(x => x.ParentId == item.Id).OrderBy(x => x.Priority).ToList();
                                        }
                                        @foreach (var item2 in childs)
                                        {
                                            <a href="@item2.Link" class="dropdown-item">
                                                @item2.Title
                                            </a>

                                        }
                                    </div>
                                </div>
                            }
                            else
                            {
                                <a href="@item.Link" class="nav-item nav-link">
                                    @item.Title
                                </a>
                            }
                        }

                    </div>
                    <div class="d-flex flex-nowrap border-top pt-3 pt-xl-0">

                        @await Component.InvokeAsync("Weather")

                        <button class="btn-search btn border border-primary btn-md-square rounded-circle bg-white my-auto" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search text-primary"></i></button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>