@model IEnumerable<News.Models.Db.Category>

@{
    ViewData["Title"] = "Manage";
}


<p>
    <a asp-action="Create" class="btn btn-outline-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                <td>
                    <a asp-action="Edit"
                       asp-route-id="@item.Id" data-bs-toggle="tooltip" title="Edit" class="btn btn-link btn-primary">
                        <i class="fa fa-edit"></i>
                    </a>

                    <a asp-action="Delete" asp-route-id="@item.Id" data-bs-toggle="tooltip" title="Remove" class="btn btn-link btn-danger">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>
